.name-project{
    padding-top: 0%;
    font-size: 20px;
    height: 100px;
    background: linear-gradient(#bcbebf, #fbfbfb);
    
}

.main-container{
    margin: 0 auto;
}

.menu-bar-item{
	box-shadow: none !important;
    padding:auto;
	border: none;
	background-color: #eaeaea;
	color: #3e5569;
    font-size: 8px;
    min-width: 100%;
    min-height: 100%;
    display: flex;
	text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-bar-item.active{
	background-color: #8200a8 !important;
	color: #fff !important;
}

.menu-bar-item:hover{
	background-color: #8200a8 !important;
	color: #fff !important;
}

li{
    height: 70px;
    width:  70px;
    background-color: rgb(0, 255, 13);
    margin: 5px;
}

.icon-svg {
    width: 25px;
    height: 25px;
    fill: #3e5569;
}

.icon-svg:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.icon-svg.active{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.text-block{
    font-family: 'Montserrat', sans-serif;
    font-size: 140px;
    color: #3e5569;
    background-color: #f6f7fb;
}


